/* style.css */
:root {
    --back_ground: #ffffff;
    --text: #111199;
    --local: #dddddd;
    --shadow: #eeeeee;
    --block: #cccccc;
}
body {
    background: var(--back_ground);
    color: var(--text);
    font-family: "Fira Sans", sans-serif;
    padding: 17px;
}
details {
    background: var(--back_ground);
    margin-bottom: 5px;
}
details[open] {
    background: var(--back_ground);
}
summary {
    list-style: none;
    color: var(--text);
    padding: 5px 0;
    cursor: pointer;
}
summary:hover {
    background: var(--back_ground);
}
summary::-webkit-details-marker {
    display: none;
}
summary::before {
    content: "+";
    margin-right: 12px;
    display: inline-block;
    width: 17px;
    text-align: center;
    color: var(--text);
    font-weight: bold;
}
details[open] > summary::before {
    content: "-";
}
.links {
    padding-left: 17px;
    border-left: 2px solid var(--text);
    margin-top: 5px;
}
a {
    display: block;
    color: var(--text);
    text-decoration: none;
    padding: 5px 17px;
}
a:hover {
    background: var(--local);
    color: var(--back_ground);
}
